.dialogContainer {
    transition: all 0.2s;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.dialogOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}

.dialogBox {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    max-width: 300px;
    max-height: 200px;
    color: black;
    padding: 30px;
    margin: 20px;
}

.dialogFooter {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}